:root {
  --title-color: #212121;
  --hero-color: #ffffff;
  --background-color: #ffffff;
  --fon-color: #2f303a;
  --accent-color: #2196f3;
  --text-color: #757575;
  --addres-text: rgba(255, 255, 255, 0.6);
  --background-button: #f5f4fa;
  --background-team: #F5F4FA;
  --border-color: #EEEEEE;
  --header-line: #ECECEC;
}
.nav-list,
.contacts,
.specifics-list,
.ocupation-list,
.team-list,
.address-list,
.portfolio-filtr-link,
.project-link,
.location-link {
  list-style: none;
}
.body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--background-color);
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  display: flex;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid var(--header-line);
}
.logo-title {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-head {
  color: var(--title-color);
}
.logo-footer {
  color: var(--hero-color);
}
.nav {
  display: flex;
  text-align: center;
}
.nav-list {
  display: flex;
  column-gap: 50px;
  margin-left: 93px;
  align-items: center;
}
.nav-link {
  font-weight: 500;
  color: var(--title-color);
}
.nav-text.current {
  color: var(--accent-color);
}
.nav-text {
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: center;
  color: var(--title-color);
}
.contacts {
  margin-left: auto;
  column-gap: 50px;
  display: flex;
}
.hero {
  padding: 200px 0;
  background-image: url(../images/background-img.jpg);

}
.hero-title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  max-width: 696px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.36;
  color: var(--hero-color);
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: var(--hero-color);
  width: 216px;
  padding: 10px 32px;
  margin: 40px auto 0;
  border: none;
  cursor: pointer;
  background: var(--accent-color);
  border-radius: 4px;
  display: block;
}
.specifics {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}
.specifics-caption {
  display:none;
}
.specifics-list {
  display: flex;
  padding: 94px auto;
  column-gap: 30px;
}
.specifics-link {
  max-width: 270px;
}
.specifics-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}
.specifics-text {
  font-size: 14px;
  line-height: 1.714;
  color: var(--text-color);
}
.ocupation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  padding-top: 94px;
  text-align: center;
  color: var(--title-color);
}
.ocupation-list {
  display: flex;
  column-gap: 30px;
  padding-top: 50px;
  padding-bottom: 94px;
  justify-content: center;
}
.team-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team {
  height: 648px;
  background: var(--background-team);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  padding-top: 94px;
  padding-bottom: 50px;
  text-align: center;
  color: var(--title-color);
}
.team-list {
  display: flex;
  column-gap: 30px;
  text-align: center;
  justify-content: center;
}
.persona-cart {
  height: 368px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 #aaaaaa;
}
.personal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-color);
}
.personal-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color);
}
.contacts-link {
  font-weight: 500;
  color: var(--text-color);
  background-color: #ffffff;
}
.main-portfolio {
  display: flex;
  width: 1200px;
  padding: 94px;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio {
  display: flex;
  justify-content: center;
}
.portfolio-project-list {
  display: flex;
  padding-top: 34px;
  flex-wrap: wrap;
  width: 1170px;
  height: 1360px;
  justify-content: space-between;
  align-content: space-around;
}
.portfolio-filtr-list {
  display: flex;
  column-gap: 8px;
  justify-content: center;
}
.button-filtr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background: var(--background-button);
}
.project-cart {
  display: block;
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-color);
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--text-color);
}
.project-item {
  text-decoration: none;
}
.location-text {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: var(--hero-color);
}
.contacts-text {
  text-decoration: none;
  color: var(--text-color);
}
.nav-list .contacts :hover,
.header :focus {
  color: var(--accent-color);
}
.nav-link :hover,
.nav-link :focus {
  color: var(--accent-color);
}
.contacts-link :hover,
.contacts-link :focus {
  color: var(--accent-color);
}
.footer {
  display: flex;
  display: block;
  line-height: 1.17;
  background: var(--fon-color);
}
.footer-conteiner {
  display: flex;
  height: 252px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: center;
  flex-direction: column;
}
.address {
  padding-top: 20px;
  line-height: 1.714;
}
.address-text {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: var(--addres-text);
}
.address-link :hover,
.address-link :focus {
  color: var(--accent-color);
}
.portfolio-filtr-link :hover,
.portfolio-filtr-link :focus {
  color: var(--hero-color);
  background-color: var(--accent-color);
}
